#hero {
  height: 800px;
  background-image: url("/images/places/ocean.png");
  background-position: center;
  background-size: cover;
}

#hero-content {
  width: 900px;
  background-color: rgba(51, 47, 47, 0.8);
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 8px;
  text-align: center;
  padding: 50px 0;
  margin: 0 auto;
  position: relative;
  top: 200px;
}

#hero-content h1 {
  color: white;
  text-transform: uppercase;
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  margin: 0;
}

#hero-content p {
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 32px;
}

#hero-content a {
  text-decoration: none;
  background-color: rgb(255, 251, 0);
  padding: 12px 24px;
  color: black;
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
}

#hero-content a:hover {
  background-color: rgb(255, 180, 0);
}

/*
    flex container (#destinations)에 display: flex를 설정하면,
    자식 요소들(.destination)이 자동으로 flex item이 됩니다.
    그런데 flex item은 기본값으로 flex: 0 1 auto 가 적용돼요. 
    
    이게 의미하는 건:
    0 → 남는 공간이 있어도 늘어나지 않음
    1 → 공간이 부족하면 줄어들 수 있음
    auto → 기본 크기는 콘텐츠 크기 기준

    즉, .destination은 기본적으로 이미지 콘텐츠 크기만큼만 차지하고, 창을 늘려도 더 이상 커지지 않아요.

    여기에 flex: 1을 추가하면 flex: 1 1 0 으로 바뀌면서:

    1 → 남는 공간을 균등하게 나눠서 늘어남
    1 → 공간 부족 시 줄어들 수 있음
    0 → 기본 크기를 0으로 보고 공간을 균등 분배

    flex: 1은 사실 shorthand(단축 속성) 인데, 값을 하나만 쓰면 아래처럼 해석돼요:

    flex: 1;
    // 아래와 동일 //
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
*/

.destination {
  flex: 1; /* 추가 */
}

#highlights {
  padding: 24px;
  /* 각도 45도, 시작색(왼쪽 아래), 끝나는 색(오른쪽 위) */
  background: linear-gradient(0deg, rgb(227, 255, 253), rgb(91, 225, 216));
}

#highlights h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  color: rgb(59, 65, 64);
  margin: 24px 0;
}

#destinations {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
  justify-content: center;
}

.destination {
  margin: 0 20px;
  text-transform: uppercase;
}

.destination img {
  height: 200px;
  width: 100%;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 10px;
  object-fit: cover;
}

.destination p {
  text-align: center;
  font-size: 24px;
  color: rgb(124, 123, 123);
  margin: 20px 0;
}

.destination strong {
  color: rgb(0, 160, 117);
}

